@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #333439;
  color: #f7f7f7;
  margin: 60px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  max-height: 160px;
  border-radius: 460px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  padding: 8px 16px;
  background: #333439;
  color: #f7f7f7;
  border-radius: 100px;
  border: 2px solid #f7f7f7;
  box-sizing: border-box;
}

.tema button:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.projetos {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  color: #f7f7f7;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  margin-top: 32px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.projetos:hover {
  transform: scale(1.03);
  transition-duration: 0.5s;
}

ul {
  font-weight: 700;
  font-size: 30px;
}

li {
  list-style-type: none;
  margin: 3px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

li a:hover {
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 4px;
  border-radius: 7px;
  transition-duration: 0.2s;
}

.footer {
  background: #f7f7f7;
  width: 50px;
  height: 50px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  border-radius: 10px;
  align-content: center;

  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
}

 footer:hover {
   transform: scale(1.1);
   transition-duration: 0.5s;
}

.icons {
  width: 50px;
  height: 50px;
}

.light {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.light .container {
  background: #ecf4ff;
  color: #1c1c1c;
  box-shadow: 6px 6px 6px #0e1d2f;
}

.light .tema button {
  background: #ecf4ff;
  color: #0e1d2f;
  border: 2px solid #0e1d2f;
}

.light .projetos {
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  color: #1c1c1c;
}

.light li a {
  color: black;
}

.light li a:hover {
  color: white;
  background-color: black;
}

.light footer {
  background: #499cfe;
}

.light .icons {
  filter: invert(100%)
}